.form-container .form-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: #000000;
  background: transparent;
  margin: auto;
}

.form-container .form .form-control {
  width: 250px;
  height: 50px;
  background: rgba(197, 197, 197, 0.3);
  border-radius: 25px;
  border: none;
}

.form-container .form .form-button {
  background: #0fa958;
  border-radius: 30px;
  color: #ffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border: none;
  width: 260px;
}
