.loggin-wrapper {
  background: linear-gradient(
    67.22deg,
    rgba(55, 101, 145, 0.76) 0.3%,
    rgba(75, 147, 171, 0.76) 44.44%,
    rgba(72, 187, 184, 0.76) 100%
  );
}

.logoLoggin {
  width: 310px;
  height: 300px;
  margin-left: 3px;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .logoLoggin {
    width: 210px;
    height: 200px;
    margin-left: 3px;
    border-radius: 50%;
  }
}

.wraper {
  background: #ffff;
  border-radius: 20px;
  width: 992px;
  height: 600px;
}
